body{
    width:100%;
    background:
    linear-gradient(
      rgba(53, 92, 125, 0.8), /* #355c7d */
      rgba(108, 91, 123, 0.8), /* #6c5b7b */
      rgba(192, 108, 123, 0.8) /* #c06c7b */
    ),
    url('../Imagens/pexels-photo-237898.jpeg') no-repeat left top;
   background-size: cover;  
	z-index: 0; /* bottom layout */
}

/* ############# FIM BACKGROUND ##################*/

/* ########### CONFIGURAÇÕES DAS DIVS E TEXTOS ######*/


h1, h2, h3, h4, h5, h6 { color: #25292a; margin: 0px 0px 10px 0px; font-family: 'Overpass', sans-serif; font-weight: 700; letter-spacing: -1px; line-height: 1; }
h1 { font-size: 34px; }
h2 { font-size: 28px; line-height: 38px; }
h3 { font-size: 22px; line-height: 32px; }
h4 { font-size: 20px; }
h5 { font-size: 17px; }
h6 { font-size: 12px; }
p { margin: 0 0 20px; line-height: 1.7; }
p:last-child { margin: 0px; }
.link { color: #212529 !important; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }



/* ../Imagens/binary-cloud-and-data-rain-wallpaper-1920x1200-96_6.jpg */
.page-header { background: url(../Imagens/Nuvens_Graducao.jpg)no-repeat; position: relative; background-size: cover; }
.page-caption { padding-top: 150px; padding-bottom: 154px; }
.page-title { font-size: 46px; line-height: 1; color: #fff; font-weight: 600; text-align: center; }

.card-section { position: relative; bottom: 60px; }
.card-block { padding: 80px; }
.section-title { margin-bottom: 60px; }

/* ########### FIM DAS CONFIGURAÇÕES DA DIVS E TEXTOS ######*/


/* ########## COMEÇO DA LISTA DE CURSOS ############# */
.our-team-main
{
	width:100%;
	height:auto;
	border-bottom:5px #323233 solid;
	background:#fff;
	text-align:center;
	border-radius:10px;
	overflow:hidden;
	position:relative;
	transition:0.5s;
	margin-bottom:28px;
}


.our-team-main img
{
	border-radius:50%;
	margin-bottom:20px;
	width: 90px;
}

.our-team-main h3
{
	font-size:20px;
	font-weight:700;
}

.our-team-main p
{
	margin-bottom:0;
}

.team-back
{
	width:100%;
	height:auto;
	position:absolute;
	top:0;
	left:0;
	padding:5px 15px 0 15px;
	text-align:left;
	background:rgba(218, 206, 206, 0.829);
	
}

.team-front
{
	width:100%;
	height:auto;
	position:relative;
	z-index:10;
	background: linear-gradient(
    rgba(53, 92, 125, 0.8), /* #355c7d */
    rgba(108, 91, 123, 0.8), /* #6c5b7b */
    rgba(192, 108, 123, 0.8) /* #c06c7b */
  ),
  url('../Imagens/pexels-photo-237898.jpeg') no-repeat left top;
	padding:15px;
	bottom:0px;
	transition: all 0.5s ease;
}

.our-team-main:hover .team-front
{
	bottom:-200px;
	transition: all 0.5s ease;
}

.our-team-main:hover
{
	border-color:#777;
	transition:0.5s;
}

/*our-team-main*/
/* ############### FIM LISTA DE CURSOS ##################### */






